/* This is the stylesheet which corresponds to the meetus page. */

@font-face 
{
	font-family: Overlock;
	src:url(fonts/Overlock.ttf);
	}
/* END FORMAT FOR ALL PAGES */
	/*properties for all pages*/

header{
	font-size: 40px;
	font-weight: bold;
}	
	
body {
	font-family: 'Overlock';
	background-color: rgb(0,0,0);
	font-size: 24px;
	color: rgb(178,255,102);
	text-align: center;
	}

.tpayne{
	
	float: left;
	width: 20%;
	height: 20%;
	border-radius: 40px;
	margin-bottom: 40px;
	border: 20px solid #B2FF66;
}

div{
	
	float: left;
	margin-top:10px;
	margin-bottom:10px;
	width:550px;
	padding-left: 10px;
	
}
.babyboo{
	
	float: right;
	width: 20%;
	height: 20%;
	border-radius: 40px;
	border: 20px solid #B2FF66;
	   }

div1{
	float: right;
	margin-top:10px;
	margin-bottom:10px;
	width: 550px;
	padding-right: 10px;
}

.crew{
	margin-bottom: 10px;
	margin-top: 10px;
	width: 35%;
	height: 40%;
	border-radius: 40px;
	border: 20px solid #B2FF66;
	}

.bios{
	display: block;
	position: relative;
	text-align: center;
	}

#links{
	text-align: center;
	margin-top: 40px;
	width: 100%;
}

.credentials{
	width: 100%;
	}
