
/*This is the stylesheet which corresponds to Registration Form */
	
/***********************************
 ****	FORMAT FOR ALL PAGES ****
 ***********************************/

 /*FONT SELECTION*/
@font-face 
{
	font-family: Overlock;
	src:url(fonts/Overlock.ttf);
	}
/* END FORMAT FOR ALL PAGES */
/* BODY STYLE */	
body {
	font-family: Overlock;
	font-size: 22px;
	}
/* END FORMAT FOR ALL PAGES */
/**********************************
****  FLYER PROPERTIES  ****
**********************************/
.flyer{
	border-radius: 20px;
}

 body{
	 	background-color: rgb(35,36,38);
		color: rgb(256,256,256);
 }
 #participants{
	text-align: center;
	font-weight: bold;
	font-family: Overlock;
}

#numReg{
	width: 300px;
	height: 50px;
	font-size: 22px;
	font-family: Overlock;
}

#numPar{
	width: 300px;
	height: 50px;
	font-size: 22px;
	font-family: Overlock;
}

#submit{
	width: 90px;
	height: 50px;
	font-size: 22px;
	font-family: Overlock;
	
}

#back{
	width: 90px;
	height: 50px;
	font-size: 22px;
	font-family: Overlock;
	}

